{% extends 'main/layout.html' %}
{% block content %}
    <h1>Your file is uploaded</h1>
    <div class="d-flex justify-content-center align-items-center flex-column mt-5 text-center">
        <div class="container-md file-info">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Metadata Attribute</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in metadata.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}